/**
* By @zeroexu
*/

:root{
    --themePrimaryColor: orange;
    --themePrimaryContrast: black;
    --themeSecondaryColor: rgb(255, 247, 5);
    --themeSecondaryContrast: black;
    --themeDarkBackgroundPaper: rgb(36, 36, 36);
    --themeDarkColorText: rgb(181, 181, 181);
}

body{
    background-color: rgb(36, 36, 36);
    color:rgb(181, 181, 181);
}

a{
    text-decoration: none;
    color: orange;
    &:hover, &:visited{
        color: rgb(255, 247, 5);
    }
}
h1, h2, h3, h4 {
    color: #00ABAA;
}

div#page{
    height: 100vh;
}

div#page > header {
    padding: 0.5rem;
    div.site-branding{
        h1.site-title{
            text-align: center;
            a{
                font-size: 6rem;
            }
        }
        p.site-description{
            text-align: center;
            color: orange;
        }
    }
}

div#page > #body-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    &.front-page{
        aside#secondary{
            display: none;
        }
    }
    main#primary{
        width: calc(100% - 320px);
        min-width: 320px;
        padding: 0.5rem;
        &.site-main{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
            grid-gap: 15px;
            padding: 15px;
            article{
                div.entry-content{
                    p{
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                }
            }

        }
    }
    aside#secondary{
        max-width: 320px;
        padding: 0.5rem;
        ul{
            list-style-type:none;
            padding-inline-start: 1rem;
            margin: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
    }
    @media (max-width: 700px) {
        main#primary, aside#secondary{
            width: 100%;
            max-width: 100%;
        }
    }
}

div#page > footer {
    margin-top: auto;
    background-color: red;
    padding: 2rem;
    display: flex;
    justify-content: end;
    div{
        margin-left: auto;
    }
}

input[type="text"], input[type="email"], input[type="url"], 
input[type="password"], input[type="search"], input[type="number"], 
input[type="tel"], input[type="range"], input[type="date"], 
input[type="month"], input[type="week"], input[type="time"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="color"], textarea{
    background-color: black;
    color: #ccc;
    border-color: rgb(61, 61, 61);
}

button, input[type="button"], input[type="submit"]{
    background-color: #00ABAA;
    padding: 7px;
    border-color: #00ABAA;
}

button, input[type="button"], input[type="submit"], a{
    cursor: pointer;
}
